.filterTag {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ff8753;
    border-radius: 20px;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    .filterTagText {
        margin-right: 5px;
        font-size: 10px;
        line-height: 20px;
    }
    .deleteTag {
        background-color: #ff8753;
    }
}
