.noteItemTools {
    padding: 10px;
    height: 40px;
    background-color: #ffbda0;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 1 40px;
}
