.content {
    display: flex;
    flex-direction: column;
    textarea {
        width: 100%;
        outline: none;
        resize: none;
        font-size: 16px;
        margin-top: 20px;
        border-radius: 5px;
        background-color: #fff;
        padding: 15px;

        &:is(:focus, :valid) {
            padding: 15px;
            border-color: #ffb799;
        }
        &::-webkit-scrollbar {
            width: 0px;
        }
    }
    .noteName {
        height: 59px;
        line-height: 30px;
    }
    .noteDescription {
        height: 100px;
        margin-bottom: 15px;
    }
    .noteTagWrapper {
        display: flex;
        flex-direction: column;
        padding: 15px;
        .tagsTitle {
            font-size: 16px;
            margin-bottom: 10px;
        }
        .noteTag {
            display: flex;
            flex-wrap: wrap;
            .tag {
                font-size: 12px;
                margin: 5px;
                margin-left: 0px;
            }
        }
    }
}
.hr {
    text-align: center;
    border: 1px solid #ffbda0;
}
.popupButtons {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0px;
    .addNote {
        padding: 5px;
        font-size: 16px;
        border-radius: 5px;
        margin-right: 10px;
        background-color: #aeffa0;
        box-shadow: 0 2px #999;
        &:hover {
            background-color: #bcffbe;
        }
        &:active {
            background-color: #00ff08;
            box-shadow: 0 3px #666;
            transform: translateY(2px);
        }
    }
    .cancelAdd {
        padding: 5px;
        font-size: 16px;
        border-radius: 5px;
        background-color: #ffa0a0;
        box-shadow: 0 2px #999;
        &:hover {
            background-color: #ffbcbc;
        }
        &:active {
            background-color: #ff0000;
            box-shadow: 0 3px #666;
            transform: translateY(2px);
        }
    }
}
