.footerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
    background-color: #ff8753;
    box-shadow: 0px -4px 4px hsla(18, 100%, 66%, 0.25);
    flex: 0 1 40px;
    &.footerText {
        font-size: 14px;
        padding: 10px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
}
