.noteItemWrapper {
    display: flex;
    flex-direction: column;
    background-color: #ffddce;
    border-radius: 20px;
    box-shadow: 0px 4px 4px hsla(18, 100%, 66%, 0.5);
    margin:10px 1px 0px 10px;
    flex: 1 0 20%;
}
